<%- include('../partials/header') %>

  <ul>
    <% skills.forEach(function(t) { %>
      <li>
        <a href="/skills/<%= t.id %>"><%= t.skill %></a>
          - 
        <%= t.done ? 'done' : 'not done' %>
        <form action="/skills/<%= t.id %>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">X</button>
        </form>
      </li>
    <% }); %>
  </ul>
<a href="/skills/new">Create a Skill</a>

  <%- include('../partials/footer') %>